<!-- Topbar -->
<div id="topBar">
  <div class="centered-container">
    <h1 class="animated-title">
      <span>W    </span><span>E    </span><span>B    </span><span>3</span><span>D    </span>
      <span>L    </span><span>I    </span><span>D    </span><span>A   </span><span>R     </span>
    </h1>
  </div>
  </div>
  

  <div id="canvas-container">
    <canvas #renderCanvas></canvas>
    <!-- Tabel untuk Volume -->
    <div id="volume-table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Volume</th>
          </tr>
        </thead>
        <tbody>
          <!-- Binding data dengan Angular -->
          <tr >
            <td> 1 </td>
            <td>200</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  